{
    "root": true,
    "extends": "airbnb/base",
    "rules": {
        "indent": [2, 4],
        "comma-dangle": 0,
        "padded-blocks": 0,
        "no-unused-vars": 1,
        "max-len": [2, 120]
    }
}
